In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
# Import dataset from file directory

buydata = pd.read_excel("buydata.xlsx")

In [3]:
buydata.columns

Index(['Buy', 'Free', 'Discount', 'Day'], dtype='object')

In [4]:
buydata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Buy       30 non-null     object
 1   Free      30 non-null     object
 2   Discount  30 non-null     object
 3   Day       30 non-null     object
dtypes: object(4)
memory usage: 1.1+ KB

In [5]:
buydata['Buy'].value_counts()

Yes    24
No      6
Name: Buy, dtype: int64

In [6]:
pd.crosstab(buydata.Free,buydata.Buy)

Buy   No  Yes
Free
No     4    3
Yes    2   21

In [7]:
pd.crosstab(buydata.Discount,buydata.Buy)

Buy       No  Yes
Discount
No         5    5
Yes        1   19

In [8]:
pd.crosstab(buydata.Day,buydata.Buy)

Buy      No  Yes
Day
Holiday   3    8
Weekday   2    9
Weekend   1    7

In [9]:
#fit0=naiveBayes(as.factor(Buy)~Free+Discount+Day, data=buydata)

X = buydata.iloc[: , 1:]
y = buydata.Buy.astype('category')

In [10]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Free      30 non-null     object
 1   Discount  30 non-null     object
 2   Day       30 non-null     object
dtypes: object(3)
memory usage: 848.0+ bytes

In [11]:
X = X.apply(lambda x: pd.factorize(x)[0])
X

    Free  Discount  Day
0      0         0    0
1      0         0    0
2      0         0    0
3      0         0    0
4      0         0    0
5      0         0    0
6      0         0    0
7      0         0    0
8      0         0    0
9      0         0    1
10     0         0    1
11     0         0    1
12     0         0    1
13     0         0    1
14     0         0    1
15     0         0    1
16     0         0    2
17     0         0    2
18     0         0    2
19     0         1    2
20     0         1    2
21     1         1    2
22     1         1    2
23     1         1    2
24     0         0    0
25     0         1    0
26     1         1    1
27     1         1    2
28     1         1    2
29     1         1    2

In [12]:
from sklearn.naive_bayes import CategoricalNB
clf = CategoricalNB()
clf.fit(X, y)

CategoricalNB(alpha=1.0, class_prior=None, fit_prior=True)

In [13]:
clf.get_params

In [14]:
clf.classes_

array(['No', 'Yes'], dtype='<U3')

In [15]:
clf.predict(X)

array(['Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes',
       'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes',
       'Yes', 'Yes', 'Yes', 'No', 'No', 'No', 'Yes', 'Yes', 'No', 'No',
       'No', 'No'], dtype='<U3')

In [16]:
from sklearn.metrics import confusion_matrix

In [17]:
confusion_matrix(y,clf.predict(X))

array([[ 4,  2],
       [ 3, 21]])

In [18]:
tn, fp, fn, tp = confusion_matrix(y, clf.predict(X)).ravel()
(tn, fp, fn, tp)

(4, 2, 3, 21)

In [19]:
wtab0 = confusion_matrix(y,clf.predict(X))
(wtab0[0,0]+wtab0[1,1])/sum(sum(wtab0))

0.8333333333333334